body {
  font-family: Arial;
  margin: 0;
}

.cabecera {
  background: #0d6efd;
  height: 60px; 
}

.container {
  display: flex;  
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

.cabecera > .container {
  height: 100%;
  align-items: center;
}

.logo {
  height: 75%;
}
.logo img {
  /* una manera de evitar el espacio que todas las imagenes ponen por defecto debajo, es obligándolas a ser elementos en bloque */
  display: block;
  max-height: 100%;
}

.navegacion {
  /** Opción 1  */
  /* display: flex;
  column-gap: 20px; */
  
  margin-right: auto;
  margin-left: 1rem;
}

/** Opción 2  */
.navegacion > a:not(:last-child){
  margin-right: 15px;
}

.navegacion > a {
  color: white;
  text-decoration: none;
}


.busqueda > input[name="search"] {
  padding: 8px;
  border-radius: 0;
  border: 0;
}
.busqueda > input[type="submit"] {
  padding: 8px;
  background: #ffc107;
  border: 0;
  transition: background 0.3s ease;
}

.busqueda > input[type="submit"]:hover {
  background: #bb8e06;
}

/************ MAIN ******/

main.contenido {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  column-gap: 1.2rem;
}

.izquierda {
  flex: 3;
}
.derecha {
  flex: 1; 
}

.bienvenida {  
  background: #dc3545;
  transition: all 0.5s;
  padding: 1rem; 
}

.bienvenida__title {
  color: black;
  /* transition-duration: 1s;
  transition-delay: 0.5s;
  transition-property: all; */
  /* transition-property: letter-spacing; */
  /* transition-timing-function:cubic-bezier(0.55, 0.055, 0.675, 0.19); */
  
  /* shorthand que todos usan */
  /*         property  duration delay aceleracion         */
  transition:   all       1s     0.5s    ease; 
}

.bienvenida__title:hover {
  color: white;
  letter-spacing: 10px;
}





.bienvenida::after {
  content: '';
  display: block;
  clear: both;
}

.bienvenida__title {
  text-align: center;
}

.bienvenida img {
  float: left;
  margin-right: 15px;  
}

.articulos {
  display: flex;
  margin: 0.5rem 0;
  column-gap: 0.5rem;
}

.articulo {
  background: #0dcaf0;
  text-align: center;
  padding: 1rem;
  transition: transform 0.5s ease;
}

.articulo:hover {
  /*TODO El que quiera, puede investigar transformaciones en CSS  */
  transform: scale(1.01);
}

.icono {
  font-size: 2rem;
}

.eslogan {
  background: hsl(210, 11%, 15%);
  padding: 0.5rem 1rem;
  color: white;
}

.eslogan > h3 {
  font-weight: normal;
  text-align: center;
}

/** ASIDE */

.derecha {
  background: #ffc107;
  text-align: center;
  padding: 1rem;
}

.derecha > h2 {
  font-size: 1.3rem;
}

.nav-derecha__lista {
  list-style: none;
  padding: 0;
}
.nav-derecha__lista > li:not(:last-child) {
  border-bottom: 1px solid gray;
}

.nav-derecha__link {
  color: black;
  text-decoration: none; 
  display: inline-block; 
  padding: 8px;
}

/** FOOTER */
.pie{
  background: rgb(108, 117, 125);
  padding: 1rem;
  text-align: center;
  color: white;
}



/* Medie queries */

@media (max-width: 700px) {
  
  .cabecera {
    height: auto;
    padding: 0.8rem 0;
  }

  .cabecera > .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navegacion {
    margin: 1rem auto;
  }


  .articulos {
    flex-direction: column;
    row-gap: 0.5rem;
  }

}


@media (max-width: 600px) {

  .contenido {
    flex-direction: column;
    row-gap: 0.5rem;
  }

}